/*
 *Name: [Katie Crouse]
 *UnityID: [mccrouse]
 *Date: [02/19/2026]
 *Assignment: [Guided Lab 4]
 *Description: [Assignment Description]
 */
 
p {
    font-family: Times;
    font-size: 16px;
    color: #DECAFF;
}

.table-border {
    border: 1px solid #DECAFF;

}

#photo-resize {
    max-width: 250px;
    max-height: 300px;
}
